.login-container {
    background-color: #efebdc; /* Hintergrundfarbe der Login-Seite */
  }
  
  .login-box {
    background: rgb(255, 255, 255);
    border-radius: 10px;
    width: 350px;
    margin-top: 50px;
  }


