.register-container {
    background-color: #efebdc; /* Hintergrundfarbe der Registrierungsseite */
}

.register-box {
    background: white;
    border-radius: 10px;
    width: 350px;
    margin-top: 135px;

}


.register-logo {
    max-width: 250px; /* Begrenze maximale Größe */
    width: 100%; /* Automatisch skalieren */
    height: auto; /* Korrekte Proportionen */
    aspect-ratio: auto; /* Entfernt erzwungenes Quadrat */
    object-fit: cover; /* Passt das Bild an, ohne Verzerrung */
    display: block;
    margin: 20px auto; /* Bessere Zentrierung */
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}
    .register-logo:hover { /* vergrößert das logo, wenn maus drüber ist */
        transform: scale(1.2);
    }